@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa; /* Color de fondo claro */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Separación entre los contenedores */
}

#reddits-container, #subreddits-container {
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}